# Server Listen Port Configuration
PORT=5000

# Production MongoDB Connection URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/calclone?retryWrites=true&w=majority

# Client App Host URL for CORS verification
CLIENT_URL=https://calclone-web.vercel.app

# Environment Mode selection (production | development)
NODE_ENV=production
